$navcolor:skyblue;
$inputcolor: rgb(59, 58, 58); 
$hoverinputcont:  #45a049;
$fondoformulario:#f2f2f2;
$dropdownfondo: #e8eaecee;


$body-estilos:(
    colores: rgb(195, 200, 253),
    img: url('../Media/img/0a8f440cf493f748894b29b9fa59b860.gif'),
    back-repeat: no-repeat,
    back-size:cover ,
    back-attach:scroll,
    disp-shown: flexbox

)

s