@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
*, ::before, ::after {
  box-sizing: border-box;
}

/* CSS HTML Servicios */
/* CSS HTML AboutUs */
/* CSS HTML General */
body {
  font-family: "Quicksand" sans-serif;
  text-align: center;
  line-height: 1.5em;
  background: rgba(61, 62, 62, 0.6588235294);
  background: linear-gradient(135deg, rgba(61, 62, 62, 0.6588235294) 0%, rgba(77, 76, 76, 0.8431372549) 25%, rgba(81, 81, 80, 0.7568627451) 46%, rgba(87, 85, 85, 0.6901960784) 54%, rgba(89, 88, 88, 0.5568627451) 75%, rgba(97, 88, 88, 0.5568627451) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#363636ee", endColorstr="#4d4b4bce",GradientType=1 );
}

footer {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  line-height: 1.5em;
  background: #69d2e7;
  background: linear-gradient(135deg, rgba(61, 62, 62, 0.6588235294) 0%, rgba(77, 76, 76, 0.8431372549) 25%, rgba(81, 81, 80, 0.7568627451) 46%, rgba(87, 85, 85, 0.6901960784) 54%, rgba(89, 88, 88, 0.5568627451) 75%, rgba(97, 88, 88, 0.5568627451) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#363636ee", endColorstr="#4d4b4bce",GradientType=1 );
}

#RedS {
  -webkit-text-decoration: solid white;
          text-decoration: solid white;
}

p {
  line-height: 24px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

/* Menu de navegacion*/
nav {
  width: 100%;
  background-color: lightblue;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoheader {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  justify-content: center;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: lightblue;
}

/* CSS HTML Contacto */
/* CSS para inputs, select y textarea */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(59, 58, 58);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style para el boton de imput con colores y borders */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* dar color verde mas oscuro cuando se pone el mouse encima*/
input[type=submit]:hover {
  background-color: #45a049;
}

/* color del fondo*/
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 5px;
  border: none;
}

#imgcontacto {
  width: 100px;
}

#head {
  position: -webkit-sticky;
  position: sticky;
}

/* CSS HTML index */
.h1cls, .h4cls, .h3cls, .h2cls {
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
}

.h2cls {
  color: black;
  font-size: xx-large;
}

.h3cls {
  color: rgb(46, 45, 45);
  font-stretch: expanded;
}

.h4cls {
  color: rgb(33, 33, 33);
}

.container {
  height: auto;
  width: auto;
}

#capacitaciongrua {
  width: 800px;
  height: 500px;
  display: flex;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: lightblue;
}

.text {
  color: black;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#sectpadr {
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
  }
  section #sectpadr {
    grid-area: sectpadr;
  }
  section sectserv {
    grid-area: sectserv;
  }
  article servtab {
    grid-area: servtab;
  }
  article #desc1 {
    grid-area: desc1;
  }
  article #desc2 {
    grid-area: desc2;
  }
  article #desc3 {
    grid-area: desc3;
  }
  #sectserv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
    grid-template-areas: "header" "servtab " "footer";
  }
  #sectpadr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 30% 10% 20%;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    grid-template-areas: "header" "desc1 " "desc2 " "desc3" "footer";
  }
  #desc1, #desc2 #desc3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
    align-self: start;
  }
}
@media screen and (min-width: 1200px) and (max-width: 2400px) {
  header {
    grid-area: header;
  }
  footer {
    grid-area: footer;
  }
  section #sectpadr {
    grid-area: sectpadr;
  }
  section sectserv {
    grid-area: sectserv;
  }
  article servtab {
    grid-area: servtab;
  }
  article #desc1 {
    grid-area: desc1;
  }
  article #desc2 {
    grid-area: desc2;
  }
  article #desc3 {
    grid-area: desc3;
  }
  #sectserv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 40px;
    grid-template-areas: "header" "servtab " "footer";
  }
  #sectpadr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 20px;
    grid-template-areas: "header" "desc1 " "desc2 " "desc3" "footer";
  }
  #desc1, #desc2 #desc3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    align-self: start;
  }
}
/* animacion */
/* elemento de animacion */
#nav {
  background-color: skyblue;
  -webkit-animation-name: nav;
          animation-name: nav;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes nav {
  from {
    background-color: lightcoral;
  }
  to {
    background-color: skyblue;
  }
}

@keyframes nav {
  from {
    background-color: lightcoral;
  }
  to {
    background-color: skyblue;
  }
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: rgba(232, 234, 236, 0.9333333333);
}

.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgba(12, 13, 13, 0.5960784314);
}

#mail {
  width: 10px;
  height: 10px;
}

#whats {
  width: 10px;
  height: 10px;
}

/* CSS HTML Cursos */
#imgartc {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#sectimg {
  display: flex;
  justify-content: center;
  justify-items: center;
}

#imgcursos {
  width: 68%;
  display: flex;
  justify-self: center;
}/*# sourceMappingURL=style.css.map */